{{define "title"}} {{ .Post.Title }} {{ end}}
{{define "main"}}
{{ with .Post}}
<section style="margin-top: 2rem;">
  <hgroup style="text-align: center; margin-bottom: 2rem;">
    <h1>{{.Title}}</h1>

    {{if .PublishedAt}}
    <p>
      <small>
        Published on {{.PublishedAt.Format "Jan 2, 2006"}}
      </small>
    </p>
    {{end}}
  </hgroup>


  {{if .FeaturedImage}}
  <figure>
    <img
      src="{{.FeaturedImage}}"
      alt="Featured image for {{.Title}}"
      >
  </figure>
  {{end}}

  <article>
    {{.Content}}
  </article>

  <p>
    <small>
      Last edited on {{.UpdatedAt.Format "Jan 2, 2006 15:04"}}
    </small>
  </p>
  
  <footer style="margin-top: 3rem; text-align: center;">
    <a href="/" role="button" class="secondary">
      ← Back to posts
    </a>
  </footer>
</section>
{{end}}
{{end}}
