{{define "title"}}Sign up{{end}}
{{define "main"}}
    <article style="width: 100%; max-width: 500px; margin: 0 auto;">
        <hgroup>
            <h1>Sign Up</h1>
            <p>Create a new account</p>
        </hgroup>

        <div id="error-message"></div>

        <form hx-post="/signup" hx-swap="innerHTML" hx-target="#error-message">
            <label for="email">
                Email
                <input id="email" name="email" required type="email">
            </label>

            <label for="password">
                Password
                <input id="password" minlength="8" name="password" required type="password">
                <small>Must be at least 8 characters long</small>
            </label>

            <label for="confirm-password">
                Confirm Password
                <input id="confirm-password" minlength="8" name="confirm_password" required type="password">
            </label>

            <button type="submit">Sign Up</button>
        </form>

        <p>Already have an account? <a href="/login">Log in</a></p>
    </article>
{{end}}