{{define "password_reset"}}
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Verify your email</title>
        <link href="/static/pico.orange.min.css" rel="stylesheet">
    </head>
    <body>
    <main class="container" style="min-height: 100vh; display: flex; align-items: center;">
        <article style="width: 100%; max-width: 600px; margin: 0 auto; text-align: center;">
            <form hx-post="/signup" hx-swap="innerHTML" hx-target="#error-message">
            </form>
        </article>
    </main>
    </body>
    </html>
{{end}}
