{{define "nav"}}
<nav>
  <ul>
    <li><strong>Funky & Goofy Blog</strong></li>
  </ul>
  <ul>    
    <li><a class="{{if eq .BaseURL "home" }} outline {{else}} secondary {{end}}" href="/home">Home</a></li>
    {{ if .IsAuthenticated }}
    <li><a class="{{if eq .BaseURL "new_post" }} outline {{else}} secondary {{end}}" href="/posts/create">Create a post</a></li>
    <li><a class="{{if eq .BaseURL "my_posts" }} outline {{else}} secondary {{end}}" href="/posts/my">My posts</a></li>		    
    <li><a class="{{if eq .BaseURL "profile" }} outline {{else}} secondary {{end}}" href="/profile">My profile</a></li>
    <li><a class="{{if eq .BaseURL "logout" }} outline {{else}} secondary {{end}}" href="/logout" hx-post="/logout">Log out</a></li>
    {{else}}
    <li><a class="{{if eq .BaseURL "login" }} outline {{else}} secondary {{end}}" href="/login">Log in</a></li>
    <li><a class="{{if eq .BaseURL "signup" }} outline {{else}} secondary {{end}}" href="/signup">Sign up</a></li>
    {{end}}
  </ul>	    
</nav>
{{end}}
g
